CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

# Выключаем Wi-Fi
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_ESP_HOST_WIFI_ENABLED=n
CONFIG_ENABLE_MATTER_OVER_WIFI=n
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ENABLE_WIFI_AP=n


# Включаем Thread
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_AUTO_START=y
CONFIG_OPENTHREAD_FTD=y
